body{
    background-color: black;
    margin:auto;
}
.nav-bar {
    display:flex;
    background-color: green;
}

.nav-icon {
    height:40px;
    width:70px;
}

.movie-container {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    width: 1000px;

    margin: auto;
    background-color: black;

}

.description-unit {
    color: white
}

.form-container {
    margin: 100px auto;
    display: flex;
    height: 70px;
    width: 100px;
    background-color: white;
}

.description-unit {
    margin: auto;
    width: 1500px;
}